.calendar-container {
  width: auto;
  margin: 0 auto;
}

.day {
  height: 100px;
}

.logout {
  width: 100px;
  background-color: #e52e71 !important;
}

.btn-secondary {
  background-color: #654ea3 !important;
}

header-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
