@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.login-container {
  padding: 0;
}

.left-side {
  position: relative;
  background: linear-gradient(270deg, #ff8a00, #e52e71, #9d50bb, #654ea3);
  background-size: 800% 800%;
  animation: gradientBackground 15s ease infinite;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  position: relative;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  position: relative;
  z-index: 10;
}

.d-grid {
  display: grid;
  gap: 15px;
}

.input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 15px;
  border-radius: 10px;
  border: none !important;
  font-weight: bold;
  cursor: pointer;
}

.button.login-valid {
  background-color: #654ea3;
}

.button.login-valid:hover {
  background-color: #9d50bb;
}

.button-secondary {
  background-color: #ff8a00 !important;
}

.button-secondary:hover {
  background-color: #ffa733 !important;
}

.buttons-container {
  margin-top: 2rem;
}

.text-danger {
  margin-top: 10px;
  color: red;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: bubble 10s infinite;
  z-index: 1;
}

.bubble:nth-child(2) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble:nth-child(3) {
  left: 40%;
  width: 50px;
  height: 50px;
  animation-duration: 12s;
  animation-delay: 4s;
}

.bubble:nth-child(4) {
  left: 60%;
  width: 25px;
  height: 25px;
  animation-duration: 9s;
  animation-delay: 6s;
}

.bubble:nth-child(5) {
  left: 80%;
  width: 35px;
  height: 35px;
  animation-duration: 14s;
  animation-delay: 8s;
}

@media (max-width: 767px) {
  .left-side {
    display: none;
  }

  .right-side {
    flex: 1;
    padding: 20px;
    background: linear-gradient(270deg, #ff8a00, #e52e71, #9d50bb, #654ea3);
    background-size: 800% 800%;
    animation: gradientBackground 15s ease infinite;
    position: relative;
    overflow: hidden;
  }

  .bubble {
    display: block;
  }
}
