.day {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  margin: -1px 0 0 -1px;
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.date-number {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.current-month .date-number {
  color: black; /* Color for current month */
}

.other-month .date-number {
  color: #b4b5b6; /* Muted text color for other months */
}

.day.today .date-number {
  border-radius: 50%;
  background-color: lightblue;
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
}
.date-div {
  width: 100%;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px; /* Positions rectangles under the date */
}

.event-rectangle {
  width: 80%; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin: 2px; /* Adjust margin as needed */
  border-radius: 10px; /* Optional: slightly round the corners */
  z-index: 999;
}